<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title> :( </title>
    <audio autoplay loop>
        <source src="/public/audio/sadspongebob.mp3" type="audio/mpeg">
        Seu navegador não suporta áudio.
    </audio>
    <button onclick="window.location.href='/protected'">Voltar</button>
    <link rel="stylesheet" href="/public/buttonStyle.css" />
</head>

<body style="text-align: center; padding: 50px;">
    <h2> pensa com carinho :( </h2>
    <img src="/public/images/orangotango_sad.jpg" alt="orangotango_sad" style="max-width: 80%; border-radius: 10px;" />
    <p>Clique aqui se não abriu a música:
        <a href="https://youtu.be/3xWZB1SoWE8?si=QPTsiSyo62C9IbvI&t=1" target="_blank"
            rel="noopener noreferrer">Aqui!</a>
    </p>
</body>

</html>