<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Obrigado!</title>
    <audio autoplay loop>
        <source src="/audio/theyseemerollin.mp3" type="audio/mpeg">
        Seu navegador não suporta áudio.
    </audio>
    <button onclick="window.location.href='/protected'">Voltar</button>
    <link rel="stylesheet" href="/buttonStyle.css" />
</head>

<body style="text-align: center; padding: 50px;">
    <h2>Obrigado professora!</h2>
    <img src="/images/orangotango_theyseemerollin.jpg" alt="orangotango_theyseemerollin"
        style="max-width: 23%; border-radius: 10px;" />
    <p>Clique aqui se não abriu a música:
        <a href="https://youtu.be/CtwJvgPJ9xw?si=2O-E-_zigOL7h7BY&t=13" target="_blank"
            rel="noopener noreferrer">Aqui!</a>
    </p>

</body>

</html>